def chatbot():
    print("Hello! I am cherry the coder")  
    name = input("What is your name")
    age = input("oh, wassup {,,} ... Tell me your bday") 
    print("\nHow can i assist you")  
    print("1. Solve me a math problem")  
    print("2. Provide guidance")  
    choice = input("Please type either number 1 or 2: ")  
    if choice == '1':  
        print("\nGreat! Let's solve a math problem.")
        num1 = float(input("1 number: ")) 
        operator = input("Which operator you use (+, -, *, /):") 
        num2 = float(input("2 Number: ")) 
        if operator=='+': 
            result = num1+num2 
        elif operator == '-': 
            result = num1-num2 
        elif operator == '*': 
            result = num1*num2 
        elif operator == '/': 
            result = num1/num2 if num2 != 0 else "Error" 
        else: 
            result = "Invalid" 
        print(f"The result is: {result}") 
    elif choice == '2': 
        print("Okay.. Here's a hint:") 
        print("don't give up ever no matter what!")


chatbot()
